@model Planeta.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Удаление пользователя";
}
<h2>@ViewBag.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Model.Fio
        </dd>

        <dt>Возраст</dt>
        <dd>
            @Model.Age
        </dd>

        <dt>Пол</dt>
        <dd>
            @Model.Sex
        </dd>

        <dt>Адрес</dt>
        <dd>
            @Model.Address
        </dd>
    </dl>

    <div>
        <form asp-controller="Home" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>